@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: ProductSans;
    font-weight: 400;
    src: url(./assets/Fonts/ProductSans-Regular.woff2) format("woff2");
  }
  @font-face {
    font-family: ProductSans;
    font-weight: 700;
    src: url(./assets/Fonts/ProductSans-Bold.woff2) format("woff2");
  }
}

:root {
  --color-hr: #00000066;
  --color-grey: #353535;
  --color-nav-hover: #CDD5FF;
  --color-text-box: #FBFBFB;
  --color-button-text: #2F3B00;
  --color-button-hover: #D4F74C;
  --color-blue: #000C49;
  --color-red: #EB6B6B;
  --color-purple: #BA75DA;
  --color-lime: #ABD700;
  --color-light-blue: #6B83FF;
  --color-light-purple: #E570D2;
  --color-para-blue: #111B52;
  --color-light-red: #EB6B6B;
  --color-white: #F5F5F5;
  --color-text-green: #579C00;
  --color-input-blue: #6B83FF;
  --color-footer: #E5E5E5;
}


#login {
  background: linear-gradient(90deg, #ABD700 0%, #DCFF56 100%);
  transition: all 0.2s ease-in-out;
}

#login:hover {
  background: linear-gradient(99deg, #ABD700 6.8%, #DCFF56 69.2%);
}

#login img {
  fill: white;
  transition: all 0.2s ease-in-out;
}

#login:hover img {
  transform: translateX(10px);
}

body {
  background-color: var(--color-white);
}

* {
  font-family: ProductSans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

input,
select {
  outline: none;
}

input:active,
select:active {
  outline: none;
}

input:hover,
select:hover {
  outline: 2px solid var(--color-grey);
}

input:focus,
select:focus {
  outline: solid 2px var(--color-input-blue);
  border: 1px solid var(--color-input-blue);
}

.project-icon-svg path {
  fill: var(--color-purple);
}
/* agar svg par hover toh sare svg ke andar paths ko fill */
.nav-icons-svg:hover path {
  fill: var(--color-input-blue);
}

#shortlist-checkmark path {
  fill: var(--color-para-blue);
}

#shortlist-filter-close path{
  fill: var(--color-text-green);
}

#interview-filter-close path{
  fill: var(--color-red);
}

#project-filter-close path{
  fill: var(--color-purple);
}