@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: ProductSans;
    font-weight: 400;
    src: url(./assets/Fonts/ProductSans-Regular.woff2) format("woff2");
  }
  @font-face {
    font-family: ProductSans;
    font-weight: 700;
    src: url(./assets/Fonts/ProductSans-Bold.woff2) format("woff2");
  }
}

:root {
  --color-hr: #00000066;
  --color-grey: #353535;
  --color-nav-hover: #cdd5ff;
  --color-text-box: #fbfbfb;
  --color-button-text: #2f3b00;
  --color-button-hover: #d4f74c;
  --color-blue: #000c49;
  --color-red: #eb6b6b;
  --color-purple: #ba75da;
  --color-lime: #abd700;
  --color-light-blue: #6b83ff;
  --color-light-purple: #e570d2;
  --color-para-blue: #111b52;
  --color-light-red: #eb6b6b;
  --color-white: #f5f5f5;
  --color-text-green: #579c00;
  --color-footer: #e5e5e5;
}

body {
  background-color: var(--color-white);
}

* {
  font-family: ProductSans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.cta svg {
  transition: all 0.2s ease-in-out;
}

.cta:hover svg {
  transform: translateX(10px);
}

.ctaback svg {
  transition: all 0.2s ease-in-out;
}

.ctaback:hover svg {
  transform: translateX(-10px);
}
/* User home  */
.shadowCard {
  box-shadow: 3px 3px 5px 2px #6b83ff80, -3px -3px 5px 2px #6b83ff80;
}

.icon {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.project-icon-svg path {
  fill: var(--color-purple);
}
/* agar svg par hover toh sare svg ke andar paths ko fill */
.nav-icons-svg:hover path {
  fill: var(--color-light-blue);
}

.shortlist_profile {
  fill: var(--color-para-blue);
}

.project_icon_profile path {
  fill: white;
}

.profile_links svg path {
  fill: var(--color-white);
}

/* #shortlist-checkmark path {
  fill: var(--color-para-blue);
}*/

.dashboard-card .ml-auto {
  transition: all 0.1s ease-in-out;
}

.dashboard-card:hover .ml-auto {
  transform: translateX(10px);
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.25rem;
}

.row1,
.row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card {
  position: relative;
  border-radius: 0.7rem;
  height: 22.75rem;
  width: 22.75rem;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  gap: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85%;
  overflow: hidden;
}

.card,
.card * {
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.card h2 {
  position: absolute;
  top: 59%;
  left: 50%;
  line-height: 2.2rem;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  font-weight: bold;
}

.card:hover h2 {
  top: 35%;
}

.card img {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
}
.card:hover img {
  width: 2rem;
  top: 8%;
  left: 8%;
}

.card p {
  position: absolute;
  text-align: center;
  width: 80%;
  bottom: -100%;
  left: 0;
  right: 0;
  margin: auto;
}

.card:hover p {
  bottom: 25%;
}

.card:hover {
  background-size: 200%;
  justify-content: flex-start;
}

.card span {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1rem;
  margin-right: 0.6rem;
  margin-bottom: 0.3rem;
}

.row1 > :nth-child(1) {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" viewBox="0 0 300 300" fill="none"><path d="M291.683 172.442L291.629 172.506C284.807 180.444 281.965 191.056 283.91 201.343L283.917 201.379C287.081 218.123 277.524 234.664 261.434 240.278C251.526 243.735 243.735 251.526 240.277 261.434C234.66 277.521 218.12 287.082 201.379 283.917L201.343 283.91C191.056 281.965 180.444 284.807 172.506 291.63L172.442 291.683C159.538 302.775 140.466 302.775 127.558 291.683L127.493 291.63C119.556 284.807 108.943 281.965 98.6566 283.91L98.6209 283.917C81.8765 287.082 65.336 277.524 59.7224 261.434C56.2648 251.526 48.4737 243.735 38.5658 240.278C22.4794 234.66 12.9183 218.12 16.0827 201.379L16.0898 201.343C18.0349 191.056 15.1924 180.444 8.37021 172.506L8.31658 172.442C-2.7748 159.538 -2.7748 140.466 8.31658 127.558L8.37021 127.494C15.1924 119.556 18.0349 108.944 16.0898 98.6569L16.0827 98.6211C12.9183 81.8768 22.4758 65.3362 38.5658 59.7226C48.4737 56.265 56.2648 48.4739 59.7224 38.566C65.3396 22.4796 81.8801 12.9186 98.6209 16.0829L98.6566 16.0901C108.943 18.0352 119.556 15.1926 127.493 8.37046L127.558 8.31682C140.462 -2.77455 159.534 -2.77455 172.442 8.31682L172.506 8.37046C180.444 15.1926 191.056 18.0352 201.343 16.0901L201.379 16.0829C218.123 12.9186 234.664 22.476 240.277 38.566C243.735 48.4739 251.526 56.265 261.434 59.7226C277.52 65.3398 287.081 81.8803 283.917 98.6211L283.91 98.6569C281.965 108.944 284.807 119.556 291.629 127.494L291.683 127.558C302.774 140.462 302.774 159.534 291.683 172.442Z" fill="white"/></svg>');
}

.row1 > :nth-child(2) {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="301" height="330" viewBox="0 0 301 330" fill="none"><path d="M103.37 26.9522C124.485 -8.98409 176.516 -8.98408 197.63 26.9522L198.397 28.2574C208.139 44.8359 225.895 55.0737 245.144 55.2083L246.661 55.2189C288.385 55.5106 314.4 100.505 293.79 136.733L293.042 138.049C283.534 154.762 283.534 175.238 293.042 191.951L293.79 193.266C314.4 229.495 288.385 274.489 246.661 274.781L245.144 274.791C225.895 274.926 208.139 285.165 198.397 301.742L197.63 303.047C176.516 338.984 124.485 338.984 103.37 303.047L102.603 301.742C92.8616 285.165 75.1036 274.926 55.855 274.791L54.3396 274.781C12.6153 274.489 -13.3998 229.495 7.20921 193.266L7.95774 191.951C17.4654 175.238 17.4654 154.762 7.95774 138.049L7.20921 136.733C-13.3998 100.505 12.6153 55.5106 54.3396 55.2189L55.855 55.2083C75.1037 55.0737 92.8616 44.8359 102.603 28.2574L103.37 26.9522Z" fill="%23FBFBFB"/></svg>');
}

.row1 > :nth-child(3) {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" viewBox="0 0 300 300" fill="none"><path d="M140.249 3.47174C145.925 -1.15725 154.075 -1.15725 159.751 3.47174L171.99 13.4527C175.843 16.5931 180.971 17.6865 185.768 16.3899L200.975 12.2806C208.036 10.3723 215.467 13.684 218.768 20.2105L225.954 34.4171C228.191 38.8382 232.413 41.9163 237.307 42.6915L252.935 45.1669C260.136 46.3074 265.556 52.3322 265.929 59.6122L266.751 75.6399C267.005 80.5679 269.601 85.0776 273.736 87.7722L287.106 96.4859C293.195 100.455 295.688 108.135 293.09 114.922L287.338 129.952C285.578 134.55 286.119 139.711 288.793 143.844L297.525 157.337C301.471 163.435 300.628 171.458 295.501 176.604L284.192 187.956C280.714 191.447 279.113 196.387 279.884 201.254L282.401 217.141C283.538 224.328 279.497 231.333 272.705 233.95L257.878 239.657C253.264 241.434 249.78 245.314 248.51 250.093L244.405 265.547C242.53 272.605 235.962 277.381 228.669 276.991L212.918 276.149C207.961 275.884 203.179 278.018 200.069 281.886L190.136 294.239C185.547 299.945 177.58 301.64 171.065 298.296L157.046 291.1C152.623 288.831 147.377 288.831 142.954 291.1L128.934 298.296C122.42 301.64 114.452 299.945 109.864 294.239L99.9309 281.886C96.8206 278.018 92.0391 275.884 87.0824 276.149L71.331 276.991C64.0377 277.381 57.4699 272.605 55.595 265.547L51.4891 250.093C50.2196 245.314 46.7363 241.434 42.1216 239.657L27.2945 233.95C20.5021 231.333 16.4615 224.328 17.5998 217.141L20.1158 201.254C20.8864 196.387 19.2855 191.447 15.8078 187.956L4.49807 176.604C-0.628155 171.458 -1.47062 163.435 2.47509 157.337L11.2062 143.844C13.881 139.711 14.4218 134.55 12.662 129.952L6.90948 114.922C4.31152 108.135 6.80448 100.455 12.8939 96.4859L26.2644 87.7722C30.3989 85.0776 32.9947 80.5679 33.2475 75.6399L34.0702 59.6122C34.4439 52.3322 39.8633 46.3074 47.0643 45.1669L62.692 42.6915C67.586 41.9163 71.8097 38.8382 74.0459 34.4171L81.2318 20.2105C84.5329 13.684 91.9641 10.3722 99.0257 12.2806L114.232 16.3899C119.029 17.6865 124.158 16.5931 128.009 13.4527L140.249 3.47174Z" fill="%23FBFBFB"/></svg>');
}

.row2 > :nth-child(1) {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" viewBox="0 0 300 300" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M43.934 43.934C28.8987 58.9692 23.4687 79.9725 27.6441 99.3185C11.012 110.046 0 128.737 0 150C-2.61234e-06 171.262 11.012 189.954 27.6441 200.682C23.4687 220.027 28.8987 241.031 43.934 256.066C58.9694 271.101 79.9725 276.531 99.3185 272.357C110.046 288.988 128.737 300 150 300C171.262 300 189.954 288.988 200.682 272.357C220.027 276.531 241.031 271.101 256.066 256.066C271.101 241.031 276.531 220.027 272.357 200.682C288.988 189.954 300 171.262 300 150C300 128.737 288.988 110.046 272.357 99.3185C276.531 79.9725 271.101 58.9694 256.066 43.934C241.031 28.8987 220.027 23.4687 200.682 27.6441C189.954 11.012 171.262 0 150 0C128.737 0 110.046 11.012 99.3185 27.644C79.9725 23.4687 58.9694 28.8987 43.934 43.934Z" fill="%23FBFBFB"/></svg>');
}

.row2 > :nth-child(2) {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" viewBox="0 0 300 300" fill="none"><path d="M300 150C300 168.605 275 182.558 268.023 198.837C261.047 215.698 268.605 243.023 255.814 255.814C243.023 268.605 215.698 261.047 198.837 268.023C182.558 275 168.605 300 150 300C131.395 300 117.442 275 101.163 268.023C84.3023 261.047 56.9768 268.605 44.1861 255.814C31.3954 243.023 38.9535 215.698 31.9767 198.837C25 182.558 0 168.605 0 150C0 131.395 25 117.442 31.9767 101.163C38.9535 84.3023 31.3954 56.9768 44.1861 44.1861C56.9768 31.3954 84.3023 38.9535 101.163 31.9767C117.442 25 131.395 0 150 0C168.605 0 182.558 25 198.837 31.9767C215.698 38.9535 243.023 31.3954 255.814 44.1861C268.605 56.9768 261.047 84.3023 268.023 101.163C275 117.442 300 131.395 300 150Z" fill="%23FBFBFB"/></svg>');
}

/* User Home */

.homePageComponent:hover button {
  transition: all 0.2s ease-in-out;
  transform: translateX(1.5rem);
}

@media (max-width: 768px) {
  .card {
    width: 18rem;
    height: 18rem;
    background-size: 80%;
  }

  .card h2 {
    font-size: 2rem;
  }

  .card img {
    top: 35%;
    width: 4rem;
  }

  .card:hover img {
    top: 35%;
    left: 50%;
    width: 4rem;
  }

  .card:hover h2 {
    top: 59%;
    font-size: 2rem;
  }

  .card:hover p {
    display: none;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(107, 131, 255, 0.5);
  border-radius: 10px;
}

.blueRadio:hover .radioHover {
  background: var(--color-light-blue);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.timer {
  animation: pulse 1s infinite alternate;
}
